<!-- /**********************************************************************************************
*@purpose: Forgotpassword page
*@author: Soumya Chinnur
*@Date: 31-12-2019
***********************************************************************************************/ -->
<section class="forgotpassword">
  <!-- <form novalidate class="md-layout"> -->
  <div class="centered-container">
    <md-card
      md-with-hover
      class="md-layout-item md-size-180 md-small-size-180"
      style="padding: 50px"
    >
      <div class="title">
        <span class="f" style="font-size:20px;font-weight:700">F</span>
        <span class="u" style="font-size:20px;font-weight:700">U</span>
        <span class="n" style="font-size:20px;font-weight:700">N</span>
        <span class="d" style="font-size:20px;font-weight:700">D</span>
        <span class="o" style="font-size:20px;font-weight:700">O</span>
        <span class="o" style="font-size:20px;font-weight:700">O</span>
        <h2>ForgotPassword</h2>
      </div>

      <div class="form">
        <md-field>
          <label>E-mail</label>
          <md-input v-model="login.email" autofocus></md-input>
        </md-field>
      </div>
      <div class="actions md-layout md-alignment-center-space-between">
        <md-button class="md-raised md-primary" @click="auth">Submit</md-button>
      </div>
    </md-card>
  </div>
</section>
