@font-face {
  font-family: googlefonts;
  src: url("../../assets/GoogleSans-Regular.ttf");
}
.dashboard {
  .page-container {
    overflow: hidden;
    position: relative;
    border: 1px solid rgba(#000, 0.12);
    // margin: 10px 0px 0px 0px;
  }

  .md-drawer {
    width: 230px;
    max-width: calc(100vw - 125px);
  }

  .gb_5dgb_Xc {
    font-size: 20px;
  }
  .label {
    display: flex;
    justify-content: space-around;
    font-family: "googlefonts", arial, sans-serif;
  }
  .md-ripple {
    margin: -3px;
  }
  .gb_iegb_mcgb_ge {
    margin: 10px;
  }
  .md-toolbar.md-theme-default.md-primary {
    background-color: white;
    color: black;
    display: flex;

    color: rgb(60, 60, 60);
  }

  .gb_Oc {
    padding: 50px;
    font-size: 19px;
  }
  .md-toolbar.md-theme-default.md-primary .md-icon {
    color: rgb(60, 60, 60);
  }
  .md-list-item-text {
    color: rgb(0, 0, 0);
  }

  .Notes {
    opacity: 0.5;
  }
  .Reminder {
    opacity: 0.5;
  }
  .Editlabels {
    opacity: 0.5;
  }
  .Archive {
    opacity: 0.5;
  }
  .Bin {
    opacity: 0.5;
  }
  .menu {
    opacity: 0.5;
  }
  .scrollbar {
    max-width: 290px;
    max-height: 287px;
    overflow: auto;
  }
  .labels {
    opacity: 0.5;
    padding-left: 2%;
    margin-left: 3%;
    padding: 5%;
    font-family: "googlefonts", arial, sans-serif;
  }
}
hr {
  margin: 0px;
  opacity: 0.5;
}
.page-container md-layout-column {
  box-sizing: border-box;
}
.pass {
  width: 100%;
  display: flex;
  height: 100vh;
}
.pass1 {
  width: 20%;
}
.pass2 {
  width: 80%;
}
.dashboard {
  background-color: white;
}

#refresh {
  margin-left: 12px;
}
.md-list-item-text {
  font-family: "googlefonts", arial, sans-serif;
  font-size: 15px;
}
.labelContainer {
  font-family: "googlefonts", arial, sans-serif;
  font-size: 12px;
}

#notes-item {
  display: inline-block;
}
#note-item {
  display: inline-block;
  width: 61%;
}
#note1-item {
  display: inline-block;
  width: 54%;
}
#note2-item {
  display: inline-block;
  width: 40%;
}

.md-toolbar.md-theme-default.md-primary .md-title,
.md-toolbar.md-theme-default.md-primary .md-display-1,
.md-toolbar.md-theme-default.md-primary .md-display-2 {
  color: gray;
}

.image img {
  width: 40px;
  height: 40px;
}

.iconContainer {
  display: flex;
  width: 22%;
  justify-content: space-evenly;
}
.iconAndLabelContainer {
  display: flex;
  margin: 2%;
  /* min-height: 24px; */
  align-items: center;
  padding: 6px 12px;
  justify-content: space-between;
}
.labelContainer {
  margin-right: 60%;
  font-weight: 600;
  font-size: 13px;
  opacity: 0.81;
}
.md-dialog {
  width: 22% !important;
  height: 350px;
}
.editContainer{
  font-size: initial;
    padding: 3%;
    margin: 3%
}
input {
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
  width: 80%;
  overflow: hidden;
  margin-left: 4%;
}
.editlineContainer{
  padding: 4%;
}