.dashboard {
    .page-container {
        // min-height: 300px;
        overflow: hidden;
        position: relative;
        border: 1px solid rgba(#000, .12);
      }
    
       // Demo purposes only
      .md-drawer {
        width: 230px;
        max-width: calc(100vw - 125px);
      }
    
      .md-content {
        padding: 16px;
      }
      .gb_5dgb_Xc {
        font-size: 20px;
      }
      .label{
        display: flex;
        justify-content: space-around;
      }
      .md-ripple{
          margin: -3px;
      }
      .gb_iegb_mcgb_ge{
          margin:10px;
      }
   
}

