@import "../../styles/mixins";
@import "../../styles/variables";
.dashboard {
  .page-container {
    overflow: hidden;
    position: relative;
    border: 1px solid rgba(#000, 0.12);
    // margin: 10px 0px 0px 0px;
  }
  .md-drawer {
    width: 230px;
    max-width: calc(100vw - 125px);
  }
  .gb_5dgb_Xc {
    font-size: 20px;
  }
  .label {
    @include display(flex);
    @include justi(space-around);
    font-family: $roboto-slab;
  }
  .md-ripple {
    margin: -3px;
  }
  .gb_iegb_mcgb_ge {
    margin: 10px;
  }
  .md-toolbar.md-theme-default.md-primary {
    background-color: white;
    color: black;
    @include display(flex);

    color: rgb(60, 60, 60);
  }

  .gb_Oc {
    padding: 50px;
    font-size: 19px;
  }
  .md-toolbar.md-theme-default.md-primary .md-icon {
    color: rgb(60, 60, 60);
  }
  .md-list-item-text {
    color: rgb(0, 0, 0);
  }
  .Notes {
    opacity: 0.5;
  }
  .Reminder {
    opacity: 0.5;
  }
  .Editlabels {
    opacity: 0.5;
  }
  .Archive {
    opacity: 0.5;
  }
  .Bin {
    opacity: 0.5;
  }
  .menu {
    opacity: 0.5;
  }
  .scrollbar {
    max-width: 290px;
    max-height: 287px;
    overflow: auto;
  }
  .labels {
    opacity: 0.5;
    padding-left: 2%;
    margin-left: 3%;
    padding: 5%;
    font-family: $roboto-slab;
  }
}
hr {
  margin: 0px;
  opacity: 0.5;
}
.page-container md-layout-column {
  box-sizing: border-box;
}
.pass {
  width: 100%;
  @include display(flex);
  height: 100vh;
}
.pass1 {
  width: 20%;
}
.pass2 {
  width: 80%;
}
.dashboard {
  background-color: white;
}

#refresh {
  margin-left: 12px;
}
.md-list-item-text {
  font-family: $roboto-slab;
  font-size: 15px;
}
.labelContainer {
  font-family: $roboto-slab;
  font-size: 12px;
}

#notes-item {
  @include display(inline-block);
}
#note-item {
  @include display(inline-block);
  width: 61%;
}
#note1-item {
  @include display(inline-block);
  width: 54%;
}
#note2-item {
  @include display(inline-block);
  width: 40%;
}

.md-toolbar.md-theme-default.md-primary .md-title,
.md-toolbar.md-theme-default.md-primary .md-display-1,
.md-toolbar.md-theme-default.md-primary .md-display-2 {
  color: gray;
}

.image img {
  width: 40px;
  height: 40px;
}

.iconContainer {
  @include display(flex);
  width: 22%;
  @include justi(space-evenly);
}
.iconAndLabelContainer {
  @include display(flex);
  margin: 2%;
  /* min-height: 24px; */
  align-items: center;
  padding: 6px 12px;
  @include justi(space-between);
}
.labelContainer {
  margin-right: 60%;
  font-weight: 600;
  font-size: 13px;
  opacity: 0.81;
}
.md-dialog {
  width: 22% !important;
  height: 350px;
}
.editContainer {
  font-size: initial;
  padding: 3%;
  margin: 3%;
}
.search {
  width: 600px;
  height: 43px;
  border: 1px solid lightgrey;
  padding: 4px;
  border-radius: 6px;
  // border-color: black;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
    0 2px 6px 2px rgba(60, 64, 67, 0.149);
  padding: 9px;
  font-size: 16px;
}
.searchbarContainer {
  margin-left: 10%;
}
input {
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
  width: 60%;
  overflow: hidden;
  // margin-left: 4%;
}
// .editlineContainer {
//   padding: 4%;
// }
.bacclass {
  background-color: #feefc3;
  border-radius: 0 25px 25px 0;
}

.bacclassss {
  background-color: white;
  border-radius: 0 25px 25px 0;
}
#note-item {
  cursor: pointer;
}
// .menuContainer{
//   border-radius: 3%;
// }
.nameContainer {
  @include display(flex);
  @include justi(center);
  font-size: 16px;
  font-weight: 600;
}
.gmailidContainer {
  @include display(flex);
  @include justi(center);
}
.nameandgmailContainer {
  margin: 4%;
  padding: 3%;
}
.signoutButton {
  @include display(flex);
  @include justi(center);
}
.md-menu-content-container {
  border-radius: 8px !important;
}
.editLine {
  @include display(flex);
  @include justi(space-around);
}
.labelDisplay {
  @include display(flex);
  padding: 6px;
  @include justi(space-between);
  margin: 9px;
}
.searchIcon {
  position: absolute;
  transform: translateY(-10px);
  right: 312px;
  top: 50%;
}
.searchContainer {
  display: flex;
}
.router:hover {
  text-decoration: none;
}
.pro-icon {
  display: flex;
  justify-content: center;
}
