<!-- /**********************************************************************************************
*@purpose: Dashboard page
*@author: Soumya Chinnur
*@Date: 31-12-2019
******************************************************************************************/ -->
<section class="dashboard">
  <div class="page-container md-layout-column">
    <md-toolbar class="md-primary">
      <md-button class="md-icon-button" @click="showNavigation">
         <md-icon>menu</md-icon>
      </md-button>
      <div>
          <a class="gb_iegb_mcgb_ge" aria-label="Keep" href="#" tabindex="0">
          <img class="gb_ua gb_6d" alt="" aria-hidden="true" src="https://www.gstatic.com/images/branding/product/1x/keep_48dp.png" srcset="https://www.gstatic.com/images/branding/product/1x/keep_48dp.png 1x, https://www.gstatic.com/images/branding/product/2x/keep_48dp.png 2x " style="width:40px;height:40px"><span class="gb_5d gb_Xc"></span></a>
          <span class="gb_5dgb_Xc">Keep</span>
          </a>  
      </div>
      <md-avatar class="md-avatar-icon">
        <md-icon>home</md-icon>
      </md-avatar>
    </md-toolbar>
  </div>

  <div v-if="flag">
    <div>
      <md-list>
        <md-list-item>
          <md-icon>
            <img src="../../assets/notes.svg" alt="" srcset="">
          </md-icon>
            <span class="md-list-item-text">Notes</span>
        </md-list-item>

        <md-list-item>
          <md-icon>
            <img src="../../assets/notes1.svg" alt="" srcset="">
          </md-icon>
            <span class="md-list-item-text">Reminder</span>
        </md-list-item>

        <md-list-item>
          <md-icon>
            <img src="../../assets/notes2.svg" alt="" srcset="">
          </md-icon>
              <span class="md-list-item-text">Edit labels</span>
        </md-list-item>
          
        <md-list-item>
          <md-icon>
            <img src="../../assets/notes3.svg" alt="" srcset="">
          </md-icon>
              <span class="md-list-item-text">Archive</span>
        </md-list-item>
        

        <md-list-item>
          <md-icon>
            <img src="../../assets/notes4.svg" alt="" srcset="">
          </md-icon>
              <span class="md-list-item-text">Bin</span>
        </md-list-item>
      </md-list>
    </div>
  </div>
</section>
