<!-- /*******************************************************************************************
*@purpose: TakeaNote Component
*@author: Soumya Chinnur
*@Date: 31-12-2019
***********************************************************************************************/ -->
<section class="take-a-note">
  <div v-if="flag == true" class="displaycard">
    <md-card class="card" style="margin:32px auto 32px auto ;">
      <div class="icons">
        <div>
          <h1 style="opacity:0.5;" @click="reversecard">Take a note..</h1>
        </div>
        <!-- <div class="iconsInCard">
          <div class="icons1">
            <div class="md-button">
              <md-icon
                :md-src="require('/home/user/Desktop/Fundoo_sc/fundookeep/src/assets/check_box-24px.svg')"
              ></md-icon>
            </div>
          </div>
          <div class="icons2">
            <div class="md-button">
              <md-icon
                :md-src="require('/home/user/Desktop/Fundoo_sc/fundookeep/src/assets/brush-24px.svg')"
              ></md-icon>
            </div>
          </div>
          <div class="icons3">
            <div class="md-button">
              <md-icon
                :md-src="require('/home/user/Desktop/Fundoo_sc/fundookeep/src/assets/photo_size_select_actual-24px.svg')"
              ></md-icon>
            </div>
          </div>
        </div> -->
      </div>
    </md-card>
  </div>

  <div v-if="flag == false" class="displaycard">
    <md-card
      class="card"
      style="margin: 0 auto;margin: 32px auto 32px auto"
      v-bind:style="{ 'background-color': background }"
    >
      <div>
        <div class="originalcard">
          <div class="title">
            <textarea v-model="addNote.title" placeholder="Title"> </textarea>
            <div v-if="pin == true" class="displaypin">
              <md-button
                class="md-icon-button"
                @click="filledpin"
                style="bottom:8px"
              >
                <img src="../../assets/icons/pin.svg" alt="" srcset="" />
              </md-button>
            </div>
            <div v-if="pin== false" class="displayfilledpin" @click="filledpin">
              <md-button class="md-icon-button" style="bottom:8px">
                <img src="../../assets/icons/filledpin.svg" alt="" srcset="" />
              </md-button>
            </div>
          </div>
        </div>

        <div class="subtitle">
          <!-- <div class="subtitle">Take a note...</div> -->
          <textarea
            placeholder="Take a note..."
            v-model="addNote.description"
          ></textarea>

          <!-- <textarea v-model="addNote.description" placeholder="enter optional message"></textarea> -->
        </div>
      </div>

      <div style="display:flex; justify-content:space-between;">
        <div>
          <icons @changeColor="color"></icons>
        </div>
        <div>
          <md-button class="button" @click="originalcard">close</md-button>
        </div>
      </div>
    </md-card>
  </div>
</section>
