
<section class="take-anote">
  <div class='note'>

  <md-card class="card" @click="openCard">
      <div class="icons">
    <div>
  <h1 style="opacity:0.5;">Take a note..</h1>
    </div>
    <div class="iconsInCard">
    <div class="icons1">
  <md-icon :md-src="require('/home/user/Desktop/Fundoo_sc/fundookeep/src/assets/check_box-24px.svg')"></md-icon>
    </div> 
    <div class="icons2">
        <md-icon :md-src="require('/home/user/Desktop/Fundoo_sc/fundookeep/src/assets/brush-24px.svg')"></md-icon>
     </div>
     <div class="icons3">
        <md-icon :md-src="require('/home/user/Desktop/Fundoo_sc/fundookeep/src/assets/photo_size_select_actual-24px.svg')"></md-icon>
     </div>
    </div>
</div>

  </md-card>

</div>

</section>
  
