<section class="take-a-note">
  <div v-if="flag == true" class="displaycard">
    <md-card class="card" style="margin: 0 auto;margin-top: 25px;">
      <div class="icons">
        <div>
          <h1 style="opacity:0.5;" @click="reversecard">Take a note..</h1>
        </div>
        <div class="iconsInCard">
          <div class="icons1">
            <div class="md-button">
              <md-icon
                :md-src="require('/home/user/Desktop/Fundoo_sc/fundookeep/src/assets/check_box-24px.svg')"
              ></md-icon>
            </div>
          </div>
          <div class="icons2">
            <div class="md-button">
              <md-icon
                :md-src="require('/home/user/Desktop/Fundoo_sc/fundookeep/src/assets/brush-24px.svg')"
              ></md-icon>
            </div>
          </div>
          <div class="icons3">
            <div class="md-button">
              <md-icon
                :md-src="require('/home/user/Desktop/Fundoo_sc/fundookeep/src/assets/photo_size_select_actual-24px.svg')"
              ></md-icon>
            </div>
          </div>
        </div>
      </div>
    </md-card>
  </div>

  <div v-if="flag == false" class="displaycard">
    <md-card class="card" style="margin: 0 auto;margin-top: 25px">
      <div>
        <div class="originalcard">
          <span>Title</span>
          <md-input v-model="user.title"></md-input>

          <div v-if="pin == true" class="displaypin">
            <md-button class="md-icon-button" @click="filledpin">
              <img src="../../assets/pin.svg" alt="" srcset="" />
            </md-button>
          </div>
          <div v-if="pin== false" class="displayfilledpin" @click="filledpin">
            <md-button class="md-icon-button">
              <img src="../../assets/filledpin.svg" alt="" srcset="" />
            </md-button>
          </div>
        </div>
        <div class="subtitle">Take a note...</div>
        <input v-model="note"></input>
      </div>
      <div>
        <div style="display:flex; justify-content:space-between;">
          <div>
            <icons></icons>
          </div>
          <div>
            <md-button class="button" @click="originalcard">close</md-button>
          </div>
        </div>
      </div>
    </md-card>
  </div>
</section>
