@font-face {
  font-family: googlefonts;
  src: url("../../assets/GoogleSans-Regular.ttf");
}
$goog-fonts: "googlefonts", arial, sans-serif;
.display-note {
  .flex {
    display: flex;
    flex-wrap: wrap;
    padding: 1%;
  }
  .card {
    width: 280px;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
      0 2px 6px 2px rgba(60, 64, 67, 0.149);
    opacity: 1;
    border-radius: 8px;
    margin: 2%;
  }
  .icons {
    display: flex;
  }
  .header {
    display: flex;
    justify-content: flex-end;
  }

  .titleAndPincontainer {
    display: flex;
    justify-content: space-between;
    margin: 2%;

    height: 26%;
  }
  .cardContainer {
    margin: 3%;
    font-family: $goog-fonts;
  }

  .alert {
    padding: 4%;
    margin: 0 8px;
  }
  .md-icon-button {
    float: right;
  }
  .displaypin {
    position: relative;
    bottom: 2px;
  }
  .originalpin {
    position: relative;
    bottom: 2px;
  }

  textarea {
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
    width: 80%;
    overflow: hidden;
  }
  .originalcard {
    height: 50px;
  }

  .button {
    text-transform: none;
  }
}
.md-dialog {
  border-radius: 6px;
  width: 500px !important;
  height: 150px;
}
input {
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
  width: 80%;
  overflow: hidden;
}
.titleContainer {
  font-family: $goog-fonts;
  margin: 2%;
}
.subtitle {
  letter-spacing: 0.01428571em;
  font-family: $goog-fonts;
  font-size: 0.875rem;
  font-weight: 550;
  line-height: 1.25rem;
  padding: 10px;
  opacity: 0.5;
}
.title {
  letter-spacing: 0.00625em;
  font-family: $goog-fonts;
  font-size: 1rem;
  font-weight: 550;
  line-height: 1.5rem;
  padding: 10px;
  opacity: 0.5;
  display: flex;
  justify-content: space-between;
}
