@font-face {
  font-family: googlefonts;
  src: url("../../assets/GoogleSans-Regular.ttf");
}
$goog-fonts: "googlefonts", arial, sans-serif;
.gridview {
  .display-note {
    .card {
      width: 280px;
      box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
        0 2px 6px 2px rgba(60, 64, 67, 0.149);
      opacity: 1;
      border-radius: 8px;
      margin: 2%;
    }

    .cardContainer {
      margin: 3%;
      font-family: $goog-fonts;
    }
  }
}
.listview {
  .display-note {
    .card {
      width: 600px;
      box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
        0 2px 6px 2px rgba(60, 64, 67, 0.149);
      opacity: 1;
      border-radius: 8px;
      margin: 2%;
    }

    .cardContainer {
      margin: 3%;
      font-family: $goog-fonts;
    }
  }
}
.icons {
  display: flex;
}

textarea {
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
  width: 80%;
  overflow: hidden;
}
.originalcard {
  height: 50px;
}
.alert {
  padding: 4%;
  margin: 0 8px;
}
.md-icon-button {
  float: right;
}
.displaypin {
  position: relative;
  bottom: 2px;
}
.originalpin {
  position: relative;
  bottom: 2px;
}
.titleAndPincontainer {
  display: flex;
  justify-content: space-between;
  margin: 2%;

  height: 26%;
}
.title {
  letter-spacing: 0.00625em;
  font-family: $goog-fonts;
  font-size: 1rem;
  font-weight: 550;
  line-height: 1.5rem;
  padding: 10px;
  opacity: 0.5;
  display: flex;
  justify-content: space-between;
}
.chipContainer {
  display: flex;
}
.subtitle {
  letter-spacing: 0.01428571em;
  font-family: $goog-fonts;
  font-size: 0.875rem;
  font-weight: 550;
  line-height: 1.25rem;
  padding: 10px;
  opacity: 0.5;
}
.titleContainer {
  font-family: $goog-fonts;
  margin: 2%;
}
.md-dialog {
  border-radius: 6px;
  width: 500px !important;
  height: 150px;
}
input {
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
  width: 80%;
  overflow: hidden;
}
.button {
  text-transform: none;
}
.header {
  display: flex;
  justify-content: flex-end;
}
.sortabel {
  cursor: move;
}
.flip-list-move {
  transition: transform;
}
.ghost {
  box-shadow: 10px 10px 5px -1px rgba(0, 0, 0, 0.14);
  opacity: 0.7;
}
.flex {
  display: flex;
  flex-wrap: wrap;
  padding: 1%;
}
.questionLabel{
  margin:2%;
  padding:2%;
}