<!-- /*******************************************************************************************
*@purpose: Display Component
*@author: Soumya Chinnur
*@Date: 31-12-2019
******************************************************************************************/ -->
<div v-bind:class="Liston==true ? 'listview':'gridview'">
  <div class="display-note">
    <div>
      <draggable  class="flex" >
          <md-card
            v-for="card in filteredList"
            class="card"
            v-bind:style="{ 'background-color': card.color }"
            :key="card.id"
          >
            <div class="titleAndPincontainer">
              <div class="titleContainer" @click="openDialog(card)">
                {{card.title}}
              </div>
              <div class="originalpin" v-if="pin== true">
                <md-button class="md-icon-button" @click="filledpin">
                  <img src="../../assets/icons/pin.svg" alt="" srcset="" />
                </md-button>
              </div>
              <div v-if="pin== false" class="displaypin" @click="filledpin">
                <md-button class="md-icon-button">
                  <img
                    src="../../assets/icons/filledpin.svg"
                    alt=""
                    srcset=""
                  />
                </md-button>
              </div>
            </div>
            <div class="cardContainer">
              {{card.description}}
            </div>
           
            <div class="chipContainer">
              <div v-for="note in card.reminder">
                <md-chip
                  v-if="card.reminder.length>0"
                  @md-delete="deleteChip(card)"
                  md-placeholder="Add genre..."
                >
                  {{note| moment("ddd,DD,HH,A") }}
                </md-chip>
              </div>
              <!-- <div>
            <md-chip md-placeholder="Add fruit..."></md-chip>
          </div> -->
            </div>
            <div>
              <icons
                @deleteCard="trash"
                @archivedCard="archive"
                @restorecard="restore"
                @unarchivedCard="unarchive"
                @deleteforvercard="deleteforever"
                @updateNote="updateNote"
                @reminderCard="deleteChip"
                :cardObj="card"
              >
              </icons>
            </div>
            <hr v-if="card.questionAndAnswerNotes.length>0">
            <div class="questionLabel">
            <div v-if="card.questionAndAnswerNotes.length>0">
              Question Asked
            </div>
            <div v-for="question in card.questionAndAnswerNotes">
              <div @click="questionAnd(card)" v-html="question.message">{{question.message}}</div>
            </div>
          </div>
          </md-card>
        </draggable>
     
    </div>

    <div>
      <md-dialog :md-active.sync="showDialog">
        <div>
          <div class="originalcard">
            <div class="title">
              <div class="textareaContainer">
                <input placeholder="Title" v-model="dilogdata.title" />
              </div>
              <div v-if="pins == true" class="originalfilledpin">
                <md-button
                  class="md-icon-button"
                  @click="filledpins"
                  style="bottom:8px"
                >
                  <img src="../../assets/icons/pin.svg" alt="" srcset="" />
                </md-button>
              </div>
              <div
                v-if="pins == false"
                class="displayfilledpin"
                @click="filledpins"
              >
                <md-button class="md-icon-button" style="bottom:8px">
                  <img
                    src="../../assets/icons/filledpin.svg"
                    alt=""
                    srcset=""
                  />
                </md-button>
              </div>
            </div>
          </div>

          <div class="subtitle">
            <input placeholder="Title" v-model="dilogdata.description" />
          </div>
        </div>

        <div style="display:flex; justify-content:space-between;">
          <div>
            <icons></icons>
          </div>
          <div>
            <md-button class="button" v-model="Array" @click="save()"
              >close</md-button
            >
          </div>
        </div>
      </md-dialog>
    </div>
  </div>
</div>
