<div>
  <div>
    <div class="titleDesContainer">
      <div class="titleDescDetails">
        <div class="titleContainer">{{testing.title}}</div>
        <div class="descriptionContainer">{{testing.description}}</div>
      </div>
      <div v-if="flag==false" @click="close">
        <md-button>close</md-button>
      </div>
    </div>
    <hr />

    <div class="headerContainer">
      <label class="header">{{header}}</label>
    </div>
    <div v-if="flag == true" class="questions">
      <wysiwyg v-model="myHTML" />
    </div>

    <div v-if="flag == false" class="data">
      <div v-html="myHTML">{{myHTML}}</div>
    </div>

    <div class="buttonContainer">
      <md-button @click="Ask">Ask</md-button>
    </div>
    <hr class="hrtag" />
    <div class="iconContainer" v-if="flag == false">
      <div class="details">
        <div class="nameContainer">
          <div class="nameContainer">{{firstname}}</div>
          <div class="nameContainer">{{lastname}}</div>
        </div>
      </div>
      <div class="iconContainer1">
        <div class="replyContainer">
          <img src="../../assets/icons/reply.svg" alt="keepLogo" />
        </div>
        <div class="thumbContainer">
          <img src="../../assets/icons/thumb.svg" alt="keepLogo" />
        </div>
        <div class="likeContainer">n likes</div>
        <div @click="Star" class="star">
          <div v-for="n in 5">
            <img src="../../assets/icons/star.svg" alt="keepLogo" />
          </div>
        </div>
      </div>
      <div class="data">
        <div v-html="myHTML">{{myHTML}}</div>
      </div>
    </div>
  </div>
</div>
