.login {
  padding-left: 35%;
}
.centered-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 100vh;
}

.title {
  text-align: center;
  margin-bottom: 30px;
  font-family: bold;
  img {
    margin-bottom: 16px;
    max-width: 80px;
  }
}
.actions {
  .md-button {
    margin: 0;
  }
}
.form {
  margin-bottom: 60px;
}

.md-content {
  z-index: 1;
  padding: 40px;
  width: 100%;
  max-width: 400px;
  position: relative;
}

.f {
  color: rgb(66, 133, 244);
  font-size: 28px;
  font-family: bold;
}
.u {
  color: rgb(52, 168, 83);
  font-size: 28px;
  font-family: bold;
}
.n {
  color: rgb(251, 188, 5);
  font-size: 28px;
  font-family: bold;
}
.d {
  color: rgb(66, 133, 244);
  font-size: 28px;
  font-family: bold;
}
.o {
  color: rgb(234, 67, 53);
  font-size: 28px;
  font-family: bold;
}
.o {
  color: rgb(234, 67, 53);
  font-size: 28px;
  font-family: bold;
}
#header {
  border-style: groove;
  border-radius: 10px;
}

@media (min-width: 290px) {
  .centered-container {
    width: 40%;
    margin-left: 3%;
  }
}
@media (min-width: 340px) and (max-width: 900px) {
  .centered-container {
    width: 40%;
  }
}
@media (min-width: 890px) {
  .centered-container {
    width: 40%;
  }
}
