<section class="login">
  <div class="centered-container">
    <md-content class="md-elevation-3">

      <div class="title">
        <span class="f" >F</span>
        <span class="u" >U</span>
        <span class="n">N</span>
        <span class="d">D</span>
        <span class="o">O</span>
        <span class="o">O</span>
       <!-- <h1>Fundoo</h1>  -->
       <h2>Sign in</h2>
      </div>

      <div class="form">
        <md-field>
          <label>E-mail</label>
          <md-input v-model="login.email" autofocus></md-input>
         </md-field>
         <div class="actions md-layout md-alignment-center-space-between">
            <a href="/register">forgot email?</a>
          </div>

        <md-field md-has-password>
          <label>Password</label>
          <md-input v-model="login.password" type="password"></md-input>
        </md-field>
        <div class="actions md-layout md-alignment-center-space-between">
            <a href="/register">forgot password?</a>
          </div>
      </div>

      <div class="actions md-layout md-alignment-center-space-between">
        <a href="/resetpassword">create account</a>
        <md-button class="md-raised md-primary" @click="auth">Sign in</md-button>
      </div>

      <div class="loading-overlay" v-if="loading">
        <md-progress-spinner md-mode="indeterminate" :md-stroke="2"></md-progress-spinner>
      </div>

    </md-content>
    <div class="background" />
  </div>
    

</section>

