<!-- /*******************************************************************************************
*@purpose: Serviceregister Component
*@author: Soumya Chinnur
*@Date: 31-12-2019
***********************************************************************************************/ -->
<section class="service-register">
  <md-toolbar class="toolbarContainer">
    <h1 class="md-title">fundooNotes</h1>
  </md-toolbar>
  <div class="subtitleContainer">
    <p>fundooNotes offered. Choose below service to Register.</p>
  </div>
  <div class="twoCardContainer">
    <div class="cardContainer">
      <md-card md-with-hover class="md-card1" v-for="card in cards">
        <md-card md-with-hover class="md-card2">
          <md-card-header>
            <div class="md-title" @click="openDialog(card)">
              {{card.price}}
            </div>
            <a href="/register" style="margin:7%">{{card.name}}</a>
            <div class="descriptionContainer">
              <li _ngcontent-c1="" class="features">
                {{card.description}}
              </li>
            </div>
          </md-card-header>
        </md-card>
      </md-card>
    </div>
    <!-- <div class="cardContainer1">
      <md-card md-with-hover class="md-card3">
        <md-card mar-with-hover class="md-card4">
          <md-card-header>
            <div class="md-title" @click="openDialog(card)">
              Price: $49 per month
            </div>
            <a href="/register" style="margin:7%">basic</a>
            <div class="descriptionContainer">
              <li _ngcontent-c1="" class="features">
                $99/month
              </li>
              <li _ngcontent-c1="" class="features">
                Ability to add title, description, images, labels, checklist and
                colors
              </li>
            </div>
          </md-card-header>
        </md-card>
      </md-card>
    </div>  -->
  </div>
  <div class="linkContainer">
    <a href="/register">Sign in instead</a>
  </div>

  <div>
    <md-dialog :md-active.sync="showDialog">
      <md-toolbar class="toolbarContainer">
        <div class="titleToolbarContainer">Advance pack details</div>
      </md-toolbar>

      <md-tabs>
        <md-tab class="tab-feature" md-label="feature1">Content 1</md-tab>
        <md-tab class="tab-feature" md-label="feature2">Content 2</md-tab>
        <md-tab class="tab-feature" md-label="feature3">Content 3</md-tab>
      </md-tabs>
      <div class="buttonContainer">
        <md-button class="md-button">remove</md-button>
        <md-button class="md-button1">Proceed to checkout</md-button>
      </div>
    </md-dialog>
  </div>
</section>
