<!-- /*******************************************************************************************
*@purpose: Serviceregister Component
*@author: Soumya Chinnur
*@Date: 31-12-2019
***********************************************************************************************/ -->
<section class="service-register">
  <div>
    <md-toolbar class="toolbarContainer">
      <h1 class="md-title">fundooNotes</h1>
    </md-toolbar>
    <div class="subtitleContainer">
      <p>fundooNotes offered. Choose below service to Register.</p>
    </div>
    <!------------------------------------------------------------------------------------------>
    <div class="twoCardContainer">
      <div class="cardContainer">
        <md-card
          md-with-hover
          class="md-layout-item md-size-30 md-small-size-30"
          id="card1"
          v-for="card in cards"
        >
          <label class="class1">ADD TO CART</label>
          <md-card md-with-hover id="card2" >
            <md-card-header>
              <div class="md-title" @click="openDialog(card)">
                {{card.price}}
              </div>
              <a @click="openDialog(card)">{{card.name}}</a>
              <div class="descriptionContainer">
                <li _ngcontent-c1="" class="features">
                  {{card.description}}
                </li>
              </div>
            </md-card-header>
          </md-card>
        </md-card>
      </div>
    </div>
    <div class="linkContainer">
      <a href="/register">Sign in instead</a>
    </div>
  </div>
  <!----------------------------------------------------------------------------------------------->
  <div>
    <md-dialog :md-active.sync="showDialog">
      <md-toolbar class="toolbarContainer">
        <div class="titleToolbarContainer">Advance pack details</div>
      </md-toolbar>

      <md-tabs>
        <md-tab class="tab-feature" md-label="feature1">Content 1</md-tab>
        <md-tab class="tab-feature" md-label="feature2">Content 2</md-tab>
        <md-tab class="tab-feature" md-label="feature3">Content 3</md-tab>
      </md-tabs>
      <div class="buttonContainer">
        <md-button class="md-button">remove</md-button>
        <md-button class="md-button1" @click="proceedCheckout()"
          >Proceed to checkout</md-button
        >
      </div>
    </md-dialog>
  </div>
</section>
