.service-register {
  .toolbarContainer {
    background-color: #ffad33;
  }
  .md-title {
    margin-left: 7%;
    // font-size: 25px;
  }
  .subtitleContainer {
    margin: 2%;
    place-content: stretch center;
    align-items: stretch;
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    font-size: 25px;
  }
  .cardContainer {
    display: flex;
  }
  .cardContainer {
    display: flex;
    justify-content: space-around;
    width: 70%;
  }
  #card1 {
    background-color: gray;
    border: 1px solid black;
  }
  #card1:hover {
    background-color: #e6b800;
  }
  #card2 {
    position: relative;
    top: 15px;
    left: 30px;
    border: 1px solid black;
    height: 101%;
  }
  .linkContainer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    // margin: 6%;
  }
  .descriptionContainer {
    margin: 7%;
    font-size: 16px;
  }
}
.md-dialog {
  border-radius: 6px;
  width: 50% !important;
  height: 200px;
  .toolbarContainer {
    background-color: #ffcc00;
  }
  .titleToolbarContainer {
    font-size: 16px;
    color: white;
    margin-left: 12%;
  }
  .md-button {
    background-color: #0e89c2;
    height: 22px;
    min-width: 88px;
    margin: 6px 8px;
    border-radius: 2px;
    font-size: 11px;
    font-weight: 500;
  }
  .buttonContainer {
    display: flex;
    justify-content: space-between;
  }
}
.twoCardContainer {
  display: flex;
  justify-content: center;
}
