<div class="icons">
  <md-button class="md-icon-button">
    <img src="../../assets/bell.svg" alt="" srcset="" />
  </md-button>
  <md-button class="md-icon-button">
    <img src="../../assets/collaborator.svg" alt="" srcset="" />
  </md-button>
  <md-button class="md-icon-button">
    <img src="../../assets/color.svg" alt="" srcset="" />
  </md-button>

  <md-button class="md-icon-button">
    <img src="../../assets/image.svg" alt="" srcset="" />
  </md-button>
  <md-button class="md-icon-button" @click="archive(cardObj)">
    <img src="../../assets/archive.svg" alt="" srcset="" />
  </md-button>

  <md-menu md-size="small">
    <md-button md-menu-trigger class="md-icon-button" @click="trash(cardObj)">
      <img src="../../assets/menu.svg" alt="" srcset="" />
    </md-button>

    <md-menu-content>
      <md-menu-item>delete note</md-menu-item>
    </md-menu-content>
  </md-menu>
</div>
