
.displayColor {
  display: flex;
  flex-flow: row wrap;
}
.iconContainer {
  display: flex;
}
.addlableContainer {
  text-transform: lowercase;
}
.deleteandrestoreContainer {
  display: flex;
}
.reminderContainer {
  display: flex;
  margin: 3%;
}
.header {
  margin-left: 2%;
}
input {
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
  width: 80%;
  overflow: hidden;
}
.labelandsearchContainer {
  display: flex;
  justify-content: center;
}
.labelcontainer {
  margin-left: 3px;
}
.checkbox {
  margin-left: 18px;
}
.md-checkbox .md-checkbox-container{
  height: 16px !important;
  width: 16px !important;
}
.md-menu-content-container {
  flex: 1;
  overflow: initial !important;
}
.md-menu-content.md-menu-content-huge {
  min-width: 260px;
  min-height: 320px;
}
