<!-- /*******************************************************************************************
*@purpose: Shoppinga Cart Component
*@author: Soumya Chinnur
*@Date: 31-12-2019
******************************************************************************************/ -->
<section class="shopping-cart">
  <div class="cardContainer">
    <md-card>
      <span class="md-title">fundoonotes</span>
    </md-card>
    <div class="progressBar">
      <md-progress-bar
        v-model.number="amount"
        md-mode="determinate"
        :md-value="amount"
      >
        <md-icon>thumb_up</md-icon>
      </md-progress-bar>
      <div class="progressBarDetails">
        <div>sigin</div>
        <div>review</div>
        <div>complete</div>
      </div>
    </div>
  </div>
  <div>
    <div class="headerContainer">
      <h3>Shopping Cart</h3>
    </div>
    <hr />
    <div class="cartDetails">
      <div class="cardContainer1">
        <md-card class="card2Container">
          <span class="md-title1"
            >${{mycaard.price}} per month {{mycaard.name}}</span
          >
        </md-card>
      </div>
      <div class="informationDetails">
        <div class="information">
          <span class="heading">Advance Pack Details</span>
          <ul>
            <li>{{mycaard.description}}</li>
          </ul>
        </div>
        <div v-if="flag==false">
          <div class="heading1">${{mycaard.price}}</div>
          <div>Per month</div>
        </div>
        <div class="information" v-if="flag==true">
          <span class="heading1">Price</span>
          <div>${{mycaard.price}}</div>
        </div>
        <div class="information" v-if="flag==true">
          <span class="heading1">Validity</span>
          <div>1month</div>
        </div>

        <div v-if="order==true" class="information">
          <md-card class="boxContainer">
            <div v-if="flag==true">
              <div class="boxDetails">
                Subtotal(1 item) : ${{mycaard.price}}
              </div>
              <div>
                <md-button class="button" @click="proceedCheckout"
                  >Proceed to checkout</md-button
                >
              </div>
            </div>

            <div v-if="flag==false">
              <div>
                <md-button class="button" @click="placeOrder"
                  >Place your Order</md-button
                >
              </div>
              <div class="boxDetails">
                Subtotal(1 item) : ${{mycaard.price}}
              </div>
            </div>
          </md-card>
        </div>
      </div>
    </div>
    <hr />

    <div v-if="flag==true">
      <div class="subtotalContainer" @click="proceedCheckout">
        Subtotal ( 1 item ): ${{mycaard.price}}
      </div>
    </div>
    <div v-if="order==true" class="cashDelivery">
      <div v-if="flag==false">
        <input class="inputContainer" />
      </div>
      <div v-if="flag==false">
        <div>Payment Method</div>
        <div class="heading1">Cash On Delivery</div>
      </div>
    </div>
  </div>
</section>
